.toolbar {
  display: flex;
  flex-direction: row;

  > *:not(:first-child) {
    margin-left: var(--space-xs);
  }
}

div.list {
  margin-bottom: var(--space-sm);
}

.empty-list {
  margin-top: var(--space-md);
  text-align: center;
}