<div class="toolbar">
  <input type="text"
    [(ngModel)]="searchTerm"
    (ngModelChange)="search($event)"
    placeholder="Search downloads">

    <a class="btn btn-stealth" routerLink="/settings">
      <i class="ms-Icon ms-Icon--More" aria-hidden="true"></i>
    </a>
</div>

<ng-container *ngIf="downloadItems; else noContent">
  <ng-container *ngFor="let item of downloadItems">
    <app-download-item [item]="item"></app-download-item>
  </ng-container>
</ng-container>

<ng-container #noContent>
  <div class="empty-list">
    No downloads found
  </div>
</ng-container>
