.download-item {
  margin: 8px 0px;
  padding: 8px;

  display: flex;
  align-items: center;

  width: initial !important; // Microsoft's width is kinda broken

  img.icon {
    width: 32px;
    height: 32px;
    
    margin-left: 8px;
  }

  .meta {
    margin-left: 16px;
    cursor: pointer;

    * {
      display: block;
      width: fit-content;
    }

    .small {
      font-size: 0.88em;
      opacity: 0.88;
    }
  }
}