:root {
  --dark-background: #333;
  --light-background: #fff;

  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
}

::-webkit-scrollbar {
  width: var(--space-sm);
}

::-webkit-scrollbar-track {
  width: var(--space-sm);
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: var(--space-sm);
}

body {
  width: 400px;
  height: 500px;
}

.dark-mode {
  background-color: var(--dark-background);
}

.light-mode {
  background-color: var(--light-background);
}
