/* You can add global styles to this file, and also import other style files */

@import "~office-ui-fabric-core/dist/css/fabric.min.css";

:root {
  --dark-base: #333;
  --dark-bg: #2b2b2b;
  --dark-fg: #3B3B3B;

  --light-base: #fff;
  --light-bg: #fff;
  --light-fg: #fff;


  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;

  @media (prefers-color-scheme: dark) {
    --background: var(--dark-base);
    --background-dark: var(--dark-bg);
    --background-light: var(--dark-fg);

    --border-color: #6B6B6B;

    --color: var(--light-base);
  }

  @media (prefers-color-scheme: light) {
    --background: var(--light-base);
    --background-dark: var(--light-bg);
    --background-light: var(--light-fg);

    --border-color: #acacac;

    --color: var(--dark-base);
  }

  font-family: 'Segoe UI';
}

::-webkit-scrollbar {
  width: var(--space-sm);
}

::-webkit-scrollbar-track {
  width: var(--space-sm);
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: var(--space-sm);
}

*:focus {
  outline: none;
}

body {
  width: 400px;
  height: 500px;

  background-color: var(--background);
  color: var(--color);
}

.m-b-sm {
  margin-bottom: var(--space-sm) !important;
}

.m-b-md {
  margin-bottom: var(--space-md) !important;
}


// Inputs
input[type=text] {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  
  border: 1px var(--border-color) solid;
  border-radius: 2px;

  padding: var(--space-xs) var(--space-sm);

  background: var(--background-dark);
  color: var(--color);

  width: -webkit-fill-available;

  box-sizing: border-box;

  &:focus {
    border-width: 2px;
    transition: all 0.2s ease-in-out;
  }
}

.link {
  cursor: pointer;
  padding: 0;
  font-size: 12px;
  line-height: 16px;

  color: #63ADE5;
  fill: #63ADE5;

  &:hover {
    box-shadow: 0px 2px 0px 0px #68AFE5;
    color: #7DBAE9;
    fill: #7DBAE9;
  }
}

img.icon {
  fill: var(--color);
}

button.btn,
a.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0px var(--space-sm);

  border-radius: var(--space-xs);
  border: var(--border-color) 1px solid;
  background: var(--background);

  color: var(--color);

  cursor: pointer;
}