/* You can add global styles to this file, and also import other style files */

:root {
  --dark-base: #333;
  --dark-bg: #2b2b2b;
  --dark-fg: #3B3B3B;

  --light-base: #fff;
  --light-bg: rgb(238, 238, 238);
  --light-fg: rgb(238, 238, 238);


  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;

  @media (prefers-color-scheme: dark) {
    --background: var(--dark-base);
    --background-dark: var(--dark-bg);
    --background-light: var(--dark-fg);

    --border-color: #6B6B6B;

    --color: var(--light-base);
  }

  @media (prefers-color-scheme: light) {
    --background: var(--light-base);
    --background-dark: var(--light-bg);
    --background-light: var(--light-fg);

    --border-color: #6B6B6B;

    --color: var(--dark-base);
  }

  font-family: 'Segoe UI';
}

::-webkit-scrollbar {
  width: var(--space-sm);
}

::-webkit-scrollbar-track {
  width: var(--space-sm);
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: var(--space-sm);
}

body {
  width: 400px;
  height: 500px;

  background-color: var(--background);
  color: var(--color);
}

.m-b-sm {
  margin-bottom: var(--space-sm) !important;
}

.m-b-md {
  margin-bottom: var(--space-md) !important;
}


// Inputs
input[type=text] {
  border: 1px var(--border-color) solid;
  border-radius: 4px;

  padding: var(--space-sm);

  background: var(--background-dark);
  color: var(--color);

  width: -webkit-fill-available;

  box-sizing: border-box;

  &:focus {
    border-width: 2px;
    transition: all 0.2s ease-in-out;
  }
}

*:focus {
  outline: none;
}